body {
  text-align: center;
  margin: 0;
  /* background: rgba(0,0,0,0.2); */
  background: url('../assets/dna_background2.jpeg');
  /* background-repeat: none; */
  background-size: cover;
  /* background-blend-mode: lighten; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.container{
  border: 1pt solid black;
}

.text-block{
  text-align: left;
}

.update-account-form{
  display: grid;
  grid-template-rows: repeat (6 1fr);
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(188, 179, 179);
  align-items: center;
  font-size: 20px;
  padding: 1em;
  min-height: 2em;
}

.nav-options{
  display: flex;
  justify-content: space-evenly;
  width: 550px;
}

.inSK {
  background-color: aquamarine; 
}
.notInSK {
  background-color: ;
}


.gene-list-item{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
/* .gene-data{
  padding: 2em;
} */

.fasta {
  font-family: monospace;
}

.homolog-list-item{
  display: grid;
  margin: 2em;
  grid-template-columns: repeat(2, 1fr);
  background-color: lightgrey;
  border: 1pt solid black;
  width: auto;
}

.search-table-header-row,.search-table-item-row{
  display: grid;
  margin: 2em;
  grid-template-columns: repeat(5, 1fr);
  background-color: aquamarine;
  border: 1pt solid black;
  width: auto;
}
.seq-table-header-row, .seq-table-row{
  display: grid;
  margin: 1em;
  grid-template-columns: repeat(5, 1fr);
  background-color: aquamarine;
  border: 1pt solid black;
  width: auto;
}
.nt-data{
  padding: 0 .5em;
}
.table-header{
  padding: 0 .5em;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.link:visited {
  color: purple;
}

.gene-page-body, .gene-page-header{
  display: flex;
  justify-content: space-around;
}
.gene-summ-container{
  width: 40vw;
}

.gene-data-finder-container{
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.gene-summ-line, .organism-summ-line{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
}
.gene-summ-title, .organism-summ-title{
justify-self: end;
margin: 0 1em;
}
.gene-summ-data, .organism-summ-data{
  justify-self: start;
  margin: 0 1em 0 0;
}

.bold{
  font-weight: bold;
}
.underline{
  text-decoration: underline;
}
.red{
  color:red;
}